* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    
	background: linear-gradient(-45deg, #FFFF, #d3d3d3, #b1b1b1, #ffffff);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

.backimage {
    background-repeat: no-repeat;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
  font-family: 'Ubuntu';
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  margin-left: -10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2E2E2E;
  color: #2E2E2E;
} 

.home,
.curriculum,
.contato {
  margin-top: 15px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  margin-left: 20px;
  color: #2E2E2E;
}

.home-link {
  color: #2E2E2E;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.home-link:hover {
  color: #707070;
}

.principal {
  margin-top: 60px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  margin-left: 10px;
  color: #2E2E2E;
}

.principal-p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  margin-top: 20px;
  margin-left: 0px;
  color: #2E2E2E;
}

.button {
  background-color: #2E2E2E; 
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  margin-top: 60px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.button-2 {
  background-color: #2E2E2E; 
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  margin-top: 60px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.button-3{
  background-color: #2E2E2E; 
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  margin-top: 60px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.button-3 span,
.button-2 span,
.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-3:hover span,
.button-2:hover span,
.button:hover span {
    font-size: 22px;
}

.project-3,
.project-2,
.project-1 {
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.project-3:hover,
.project-2:hover,
.project-1:hover {
  color: #707070;
}

.clicked {
  animation: buttonAnimation 0.2s linear;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.caminho {
  display: block;
  margin: 0 auto;
  width: 400px;
  margin-top: 30px;
  position: relative;
}