.container-contact{
  width: 700px;
  margin: 60px auto 0;
}


.texto-p-contato {
margin-top: 60px;
font-family: 'Roboto', 'sans-serif';
font-size: 30px;
margin-left: 10px;
color: #2E2E2E;
}

.elementos-contato {
margin-top: 30px;
font-family: 'Roboto', 'sans-serif';
font-size: 20px;
margin-left: 10px;
color: #2E2E2E;
}

.elementos-contato li {
margin-bottom: 5px;
}

.phone-img {
display: flex;
justify-content: center;
align-items: center;
margin: 140px auto;
animation-name: spin;
animation-duration: 60s; 
animation-iteration-count: infinite; 
animation-timing-function: linear;
}

.phone-img img {
width: 300px; 
height: auto; 
}