.cv-text {
    margin-top: 60px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    margin-left: 10px;
    color: #2E2E2E;
  }
  
  .cv-link {
    margin-top: 15px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    margin-left: 5px;
    color: #2E2E2E;
  }
  
  .curriculum-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  .curriculum-img img {
    width: 300px; 
    height: auto; 
  }
  